@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-row($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin flex-column($align) {
  display: flex;
  justify-content: center;
  align-items: $align;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
