.header-container {
  min-height: 8vh;

  @include flex-row(flex-start);

  background: $background;
  border-radius: 0 0 1rem 1rem;

  h1 {
    margin-left: 2rem;

    font-size: $logo;
    font-family: "Sansita", sans-serif;
  }
}
