//Button, logo, mobile-menu, burger-menu
$black: #000000;

//mobile-menu
$mobile-menu: #fff;

//Background
$background: #f3f3f3;

//login-oval-form
$oval-form: #5521e63f;

//Title, add-button, discover-button
$pink: #cb50d7;

//fonts-color
$grey: #696868;
$white: #fff;
